
<ion-content padding>
  <br><br>
  <br><br>
  
      <!-- logo -->
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="assets/error.png" class="center" width="200" height="200">
        </a>
      </div>
      <ion-text style="text-align:center;">
        <h1><b>Oops!</b></h1>
        <div style="text-align:center; display:block;">
          <p>Invalid Email and Password combination</p>
       </div>
      </ion-text>
      <br>
  
      <ion-button  class="centerbt registerbt" fill="outline" routerLink="/login" ><b>Retry</b>
      </ion-button>
  
  </ion-content>
  
  