
<ion-content padding>
<br><br>
<br><br>

    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/success.png" class="center" width="200" height="200">
      </a>
    </div>
<br>
    <ion-text style="text-align:center;">
      <h1><b>Great!</b></h1>
<p>Your account has been created successfully.</p>
    </ion-text>
    <br>

    <ion-button  class="centerbt registerbt" fill="outline" routerLink="/login" ><b>Login</b>
    </ion-button>

</ion-content>

