.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .centerbt {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
  }
  .registerbt {
    color: #000;
  }