
<ion-content padding>
  <br><br>
  <br>
  
      <!-- logo -->
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="assets/failure.png" class="center" width="200" height="200">
        </a>
      </div>
  <br>
      <ion-text style="text-align:center;">
        <h1><b>Something went wrong!</b></h1>
        <br>
        <div style="text-align:center; display:block; font-size: smaill;">
         <u>TIPS</u>
        </div>
        <div style="text-align:center; font-size: x-small;">
         <p> • Check your internet connection
         <br> • Email entered has already been used
         <br> • Not a valid email entered
         <br> • Passwords must be at least 5 characters in length
        </p>
       </div>
      </ion-text>
      <br>
  
      <ion-button  class="centerbt registerbt" fill="outline" routerLink="/register" ><b>Retry</b>
      </ion-button>
  
  </ion-content>
  
  