<ion-header>
  <ion-toolbar>
    <ion-title text-center>Recent Activity</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>  
 
  
</ion-content>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/dashboard']">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-icon name="folder"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab4">
        <ion-icon name="trash"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


  